body{
  color: aliceblue;
    background-image: url("https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
}
.form{
    max-width:60%;
    margin: 50px auto;
    border: 3px solid black;
    box-shadow: 0 0 10px white;
  
}
.header{
    color: aliceblue;
    padding: 20px;
}
.name-field{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
input{
    height: 25px;
}
label{
    font-weight: 700;
    margin-top: 10px;
}
.name{
    margin: 0 auto;
    max-width: 90%;
}
.dob{
    max-width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.date input{
width:80%;
}
.gender input{
    width: 80%;
}
select{
    width: 82%;
    height: 25px;
}
.zip{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.address input:nth-of-type(1){
    width: 90%;
}
.address{
    width: 90%;
    margin: 20px auto;
}
.zip input{
    width: 80%;
    margin-top: 10px ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ssn{
    width: 90%;
    margin: 10px auto;

}
.ssn input{
width: 90%;
}
.form-control{
    margin-top: 15px;
    width: 82%;
    height: 25px;
}
.btn{
    width: 90%;
    margin: 10px auto;

}
.btn button{
    width: 92%;
    height: 25px;
   align-items: center;

  font-weight: 900;

   border: 3px solid wheat;
}